@page
@model RostrosFelices.Pages.Account.RegisterModel
@{
}




<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label for="inputEmail" class="control-label">Email address</label>
                <input type="email" class="form-control" asp-for="Registro.Email" id="inputEmail" required />
                <span class="text-danger" asp-validation-for="Registro.Email"></span>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="control-label">Password</label>
                <input type="password" class="form-control" asp-for="Registro.Password" id="inputPassword" required />
                <span class="text-danger" asp-validation-for="Registro.Password"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Register" class="btn btn-success btn-block" />
                <a asp-page="Index" class="btn btn-primary btn-block">Back to list</a>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}